<div id="body">
		<h1 style="text-align:center;padding-top:50px;padding-bottom:15px">Gallery</h2>
		<div class="content">
			<ul class="gallery">
				<li>
					<a href="#"><img src="assets/deco-styles.jpg" alt=""><span>deco styles</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/girls-bedroom.jpg" alt=""><span>girl's bedroom</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/entertainment-room.jpg" alt=""><span>entertainment room</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/living-room.jpg" alt=""><span>living room</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/masters-bedroom.jpg" alt=""><span>master's bedroom</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/kitchen.jpg" alt=""><span>kitchen</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/home-office.jpg" alt=""><span>home office</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/kitchen.jpg" alt=""><span>dining room</span></a>
				</li>
				<li>
					<a href="#"><img src="assets/lounge.jpg" alt=""><span>lounge</span></a>
				</li>
			</ul>
		</div>
	</div>
