<div id="body">
	<div class="header">
		<img src="images/colors.jpg" alt="">
	</div>
	<div class="body">
		<h1>Colors to life</h1>
		<p>
			This website template has been designed by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">forums</a>.
		</p>
		<p>
			This website template has been designed by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">forums</a>.
		</p>
	</div>
	<div class="footer">
		<ul>
			<li>
				<a href="library.html"><img src="images/latest-colors.png" alt=""></a>
			</li>
			<li>
				<a href="gallery.html"><img src="images/inspiration.png" alt=""></a>
			</li>
			<li>
				<a href="contact.html"><img src="images/color-expert.png" alt=""></a>
			</li>
		</ul>
	</div>
</div>