<div id="footer">
	<div>
		<ul class="contact">
			<li>
				Paint Republic
			</li>
			<li>
				250 Lorem Ipsum Street
			</li>
			<li>
				Joafanr, Caknan 109935
			</li>
			<li>
				Kiangab
			</li>
		</ul>
		<ul class="connect">
			<li class="googleplus">
				<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
			</li>
			<li class="mail">
				<a href="http://www.freewebsitetemplates.com/misc/contact">mail</a>
			</li>
			<li class="facebook">
				<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
			</li>
			<li class="twitter">
				<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
			</li>
		</ul>
	</div>
	<p>
		Copyright &copy; 2011. All Rights Reserved
	</p>
</div>