<div id="footer">
	<div>
		<ul class="contact">
			<li>
				My Design Co Ltd
			</li>
			<li>
				5 Warren Court, Elgin Road
			</li>
			<li>
				Weybridge, Surrey
			</li>
			<li>
				KT13 8ST
			</li>
		</ul>
		<ul class="connect">
			<li class="googleplus">
				<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
			</li>
			<li class="mail">
				<a href="http://www.freewebsitetemplates.com/misc/contact">mail</a>
			</li>
			<li class="facebook">
				<a href="https://www.facebook.com/pages/My-Design/403364599753236?ref=ts&fref=ts">facebook</a>
			</li>
			<li class="twitter">
				<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
			</li>
		</ul>
	</div>
	<p>
		Copyright &copy; 2011. All Rights Reserved
	</p>
</div>