<div id="header" >
	<div id="header_wrapper">
	<span><a href="index.html" class="logo"><img src="assets/logo.png" alt=""></a></span>
	<span class="wrapper">
		<div  id="main_navigation" class="floating_nav">
			<ul>
				<li class="selected">
					<a href="index.html">home</a>
				</li>
				<li>
					<a href="library.html">color library</a>
				</li>
				<li>
					<a href="gallery.html">gallery</a>
				</li>
				<li>
					<a href="services.html">blog</a>
				</li>
				<li>
					<a href="about_us.html">about us</a>
				</li>
				<li>
					<a href="contact_us.html">contact us</a>
				</li>
			</ul>
		</div>
	</span>
	</div>
</div>